.modal-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
}

.modal-wrapper {
    $spacing: 50px;

    position: fixed;
    top: $spacing;
    right: 0;
    bottom: 0;
    left: $spacing;
    z-index: 999999;
    background: #fff;
    border: 1px solid #eee;
    overflow: auto;
    width: calc(100% - #{$spacing * 2});
    height: calc(100% - #{$spacing * 2});
}

.login-modal {
    display: none;
}

@media (max-width: 788px) {
    .modal-wrapper {
        top: 0;
        left: 0;
        width: auto;
        height: auto;
    }
}
