<div class="issue">
    <h1>Welcome to the new democracy.</h1>
    <div class="voter">
        <p>
            CA.GOV.VOTE is an issue-based voting platform.
            It was built in the hopes that, one day, we will be able to vote on issues - not on political personalities.
            Its time we had our say, not on the basis of general party lines, but on a per-issue basis.
        </p>
        <p>
            At CA.GOV.VOTE, you're allowed to vote for each of the topics, and you can change your vote at any time.
            We have security measures in place to validate authentic voters.
            Spread the word - let's show that we really care about our country and its policies.
        </p>
        <p>
            CA.GOV.VOTE is not affiliated in any way with the Canadian government or any political parties.
            It exists strictly to gauge the sentiment of relevant topics among Canadians, as well as to provide information of all sides of the debate.
        </p>
    </div>
</div>
